.modal__box {
	position: relative;
	width: 720px;
	max-height: 80vh;
	margin: auto;
	overflow-y: auto;
	background-color: #1c1c21;
	border-radius: 40px;
	outline: none;
}

.modal__closebtn {
	position: absolute;
	top: 60px;
	right: 40px;
	z-index: 1000;
	margin: 0;
	padding: 0;
	line-height: 0;
	background: none;
	border: none;
}

.modal__closeicon {
	width: 24px;
	height: 24px;
	color: #ffffff;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: #f2f2f2;
	}
}
